@charset "UTF-8";
/**
 * @doc 变量定义
 * @author Heanes
 * @time 2017-02-17 10:41:19 周五
 */

// color 基本颜色
$white:                     #fff !default;
$black:                     #000 !default;
$red:                       #d9534f !default;
$orange:                    #f0ad4e !default;
$yellow:                    #ffd500 !default;
$green:                     #5cb85c !default;
$blue:                      #0275d8 !default;
$teal:                      #5bc0de !default;
$pink:                      #ff5b77 !default;
$purple:                    #613d7c !default;

// 灰色区间
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// 形容词所描述的颜色
$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

// link 链接相关的配置
$link-color:                $brand-primary !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

// 字体相关配置
$font-family-base:          -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun, Arial, sans-serif !default;
$font-size-base:            14px;
$font-weight-base:          100;
$line-height-base:          1.5;
$font-weight-normal:        normal !default;
$font-weight-bold:          bold !default;

// body
$body-bg:                   $white !default;
$body-color:                $gray-dark !default;

// dt
$dt-font-weight:            $font-weight-bold !default;

// cursor
$cursor-disabled:           not-allowed !default;


// components 组件相关配置
// button 按钮相关

// Buttons
//
// For each of Bootstrap's   buttons, define text, background and border color.
$btn-padding-x:             1rem !default;
$btn-padding-y:             .5rem !default;
$btn-line-height:           1.25 !default;
$btn-font-weight:           $font-weight-normal !default;
$btn-box-shadow:            inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075) !default;
$btn-focus-box-shadow:      0 0 0 2px rgba($brand-primary, .25) !default;
$btn-active-box-shadow:     inset 0 3px 5px rgba($black,.125) !default;

$btn-primary-color:         $white !default;
$btn-primary-bg:            $brand-primary !default;
$btn-primary-border:        $btn-primary-bg !default;

$btn-secondary-color:       $gray-dark !default;
$btn-secondary-bg:          $white !default;
$btn-secondary-border:      #ccc !default;

$btn-info-color:            $white !default;
$btn-info-bg:               $brand-info !default;
$btn-info-border:           $btn-info-bg !default;

$btn-success-color:         $white !default;
$btn-success-bg:            $brand-success !default;
$btn-success-border:        $btn-success-bg !default;

$btn-warning-color:         $white !default;
$btn-warning-bg:            $brand-warning !default;
$btn-warning-border:        $btn-warning-bg !default;

$btn-danger-color:          $white !default;
$btn-danger-bg:             $brand-danger !default;
$btn-danger-border:         $btn-danger-bg !default;

$btn-link-disabled-color:   $gray-light !default;

$btn-padding-x-sm:          .5rem !default;
$btn-padding-y-sm:          .25rem !default;

$btn-padding-x-lg:          1.5rem !default;
$btn-padding-y-lg:          .75rem !default;

$btn-block-spacing-y:       .5rem !default;

// text 文本及字符相关
$text-muted:                $gray-light !default;


// table 表格
$table-cell-padding:        .75rem !default;
$table-sm-cell-padding:     .3rem !default;

// scrollbar 滚动条相关
$scrollbar-bg:              rgba(0,0,0,.39);
$scrollbar-box-shadow-color:rgba(0, 0, 0,.3);
