@charset "UTF-8";
/**
 * @doc 公共样式
 * @author Heanes
 * @time 2016-11-29 10:16:42 周二
 */
.main-content .center-block.right-content{padding:20px;}
.box-normal{box-shadow:0 0 2px 2px rgba(225,225,225,0.5);border-radius:4px;}

/****************************** demo展示样式 ******************************/
.demo-wrap{padding:20px;font-weight:400;}
.demo-wrap .demo-title{margin:14px 0;border-bottom:1px solid #eee;}
.demo-wrap>.demo-desc{color:#444;margin-bottom:10px;line-height:20px;text-indent:2em;}
.demo-wrap .demo-group{margin-top:40px;}
.demo-wrap .demo-group .demo-group-title{margin:14px 0;padding:0 10px;border-bottom:1px solid #eee;}
.demo-wrap .demo-group .demo-desc{padding-left:20px;}
.demo-wrap .demo-group .demo-content{padding-left:40px;}
.demo-wrap .demo-group .demo-content .demo-one{margin:10px 0;padding:10px 20px;}
.demo-wrap .demo-group .demo-content .demo-one-desc{}
.demo-wrap .demo-group .demo-content .demo-one:hover {
  outline: 0;
  box-shadow: 0 1px 15px rgba(0,0,0,.5);
  animation: glow 1s ease-in-out;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
/* 滚动条demo页样式 */
.demo-wrap .demo-content .demo-one.demo-scrollbar{width:250px;}
.demo-wrap .demo-content .demo-one.demo-scrollbar .scrollbar{height:200px;overflow:auto;border:1px solid #ddd;}

.page-content .content-wrap{padding:20px;}


.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 50px;
  height: 50px;
  background-color: #425CBB;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: 0 solid white;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-animation: loading 1000ms ease-out forwards infinite;
  animation: loading 1000ms ease-out forwards infinite;
}

@-webkit-keyframes loading {
  0% {
    border: 0 solid white;
  }

  20% {
    border: 8px solid white;
    width: 0;
    height: 0;
  }

  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%;
  }
}

@keyframes loading {
  0% {
    border: 0 solid white;
  }

  20% {
    border: 8px solid white;
    width: 0;
    height: 0;
  }

  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%;
  }
}

.loader.loader--fade {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}





.app-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1990;
  overflow: hidden
}

.paintroller {
  z-index: 10;
  position: absolute;
  width: 100px;
  height: 300px;
  top: 30%;
  left: 50%;
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg)
}

.paintroller .paint {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation: paintit 2s infinite 0s linear alternate;
  animation: paintit 2s infinite 0s linear alternate
}

.paintroller .roller {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation: moveroller 2s infinite 0s linear alternate;
  animation: moveroller 2s infinite 0s linear alternate
}

@-webkit-keyframes paintit {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0
  }

  25% {
    -webkit-transform: scaleY(.35);
    transform: scaleY(.35);
    opacity: 1
  }

  50% {
    -webkit-transform: scaleY(.7);
    transform: scaleY(.7)
  }

  75% {
    -webkit-transform: scaleY(.8);
    transform: scaleY(.8)
  }

  100% {
    -webkit-transform: scaleY(.7);
    transform: scaleY(.7)
  }
}

@keyframes paintit {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0
  }

  25% {
    -webkit-transform: scaleY(.35);
    transform: scaleY(.35);
    opacity: 1
  }

  50% {
    -webkit-transform: scaleY(.7);
    transform: scaleY(.7)
  }

  75% {
    -webkit-transform: scaleY(.8);
    transform: scaleY(.8)
  }

  100% {
    -webkit-transform: scaleY(.7);
    transform: scaleY(.7)
  }
}

@-webkit-keyframes moveroller {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  25% {
    -webkit-transform: translateY(20%);
    transform: translateY(20%)
  }

  50% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
  }

  75% {
    -webkit-transform: translateY(60%);
    transform: translateY(60%)
  }

  100% {
    -webkit-transform: translateY(45%);
    transform: translateY(45%)
  }
}

@keyframes moveroller {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  25% {
    -webkit-transform: translateY(20%);
    transform: translateY(20%)
  }

  50% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
  }

  75% {
    -webkit-transform: translateY(60%);
    transform: translateY(60%)
  }

  100% {
    -webkit-transform: translateY(45%);
    transform: translateY(45%)
  }
}

.app-loading .app-loading-left,.app-loading .app-loading-right {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  background-color: #fff;
  z-index: 1
}

.app-loading .app-loading-left {
  left: 0
}

.app-loading .app-loading-right {
  right: 0
}

.app-loaded .paintroller {
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.app-loaded .app-loading {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all .3s 1s ease-out;
  transition: all .3s 1s ease-out
}

.app-loaded .app-loading .app-loading-left,.app-loaded .app-loading .app-loading-right {
  background-color: rgba(255,255,255,.75)
}

.app-loaded .app-loading .app-loading-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all .7s .3s cubic-bezier(.645,.045,.355,1);
  transition: all .7s .3s cubic-bezier(.645,.045,.355,1)
}

.app-loaded .app-loading .app-loading-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all .7s .3s cubic-bezier(.645,.045,.355,1);
  transition: all .7s .3s cubic-bezier(.645,.045,.355,1)
}
