@charset "UTF-8";
/**
 * @doc 框架样式
 * @author Heanes
 * @time 2016-11-29 10:16:42 周二
 */
/* 字体样式 */
/************************ 框架重设样式 ************************/
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;word-break:break-all;}
html,iframe,frame,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section{margin:0;padding:0;list-style:none;border:0}
body,button,input,select,textarea{font:14px/1.3 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;color:#333}
iframe{display:block;width:100%;height:100%;border:0}
*{box-sizing:border-box}
/* 清除浮动 */
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both;overflow:hidden}
.clearfix{zoom:1;display:table;width:100%;/* for ie6 & ie7 */}
.clear{clear:both;display:block;font-size:0;height:0;line-height:0;overflow:hidden}
/************************ 框架布局 ************************/
.layout .header{position:fixed;z-index:3;width:100%;min-height:50px;}
.layout .left-width{width:280px;}
.layout .left-block{position:fixed;height:100%;z-index:2;padding-top:50px;overflow-y:auto;}
.layout .center-block{position:absolute;width:100%;height:100%;padding-left:280px;padding-top:50px;padding-right:0;}

/* 框架样式风格 */
.layout a{color:inherit;background-color:inherit;text-decoration:none;}
.layout a:hover{color:inherit;text-decoration:none;}

/************************ 顶部 ************************/
$header-bgcolor: #424f63;
$header-color: #fff;
$header-admin-logo-bgcolor: #424f63;
$header-admin-user-info-detail-dl-hover-bgcolor:#346190;

.header{background-color:$header-bgcolor;color:$header-color;}
.header .admin-logo{position:relative;float:left;height:100%;background-color:$header-admin-logo-bgcolor;}
.header .admin-logo .lap-handle{position:absolute;right:5px;top:16px;color:#fff;font-size:14px;font-weight:600;}
.header .admin-logo .admin-log-href{display:block;line-height:50px;text-align:center;margin-right:30px}
.header .admin-logo .admin-log-href .admin-icon,
.header .admin-logo .admin-log-href .admin-title-text{vertical-align:top;}
.header .admin-logo .admin-log-href .admin-icon{font-size:34px;vertical-align:middle;margin-bottom:8px;}
.header .admin-logo .admin-log-href .admin-title-text{font-size:22px;display:inline-block;}

.header .menu-top{float:left;height:50px;line-height:50px;max-width:1020px;overflow-x:auto;white-space:nowrap;}

.header .admin-select-city{float:right;height:50px;line-height:50px;margin:0 6px;}
.header .admin-select-city .select-city{margin-top:14px}
.header .admin-select-city .select-city option{padding:0;}
.header .admin-user-info{float:right;height:50px;line-height:50px;background-color:inherit;}
.header .admin-user-info .toggle-show-info-block{display:none;position:absolute;right:0;font-size:13px;line-height:26px;padding-top:6px;background-color:inherit;max-height:400px;}
.header .admin-user-info.toggle-show:hover .toggle-show-info-block{display:block;}
.header .admin-user-info .user-detail{}
.header .admin-user-info .user-detail dl{display:block;padding:0 10px;}
.header .admin-user-info .user-detail dl:hover{background-color:$header-admin-user-info-detail-dl-hover-bgcolor;}
.header .admin-user-info .user-detail dt,.user-detail dd{display:inline-block;}
.header .admin-user-info .user-detail dt{color:#fff;text-align:right;min-width:60px;}
.header .admin-user-info .user-detail dd{color:#fff;}
.header .admin-user-info .login-handle{text-align:center;font-size:14px;line-height:28px;padding:6px 0;}
.header .admin-user-info .login-handle .login-out:hover{text-decoration:underline;}
.header .admin-user-info .login-handle .login-out .icon{margin-right:10px;}
/************************ 左侧菜单 ************************/
$left-block-bgcolor:#f2f2f2;
$left-block-color:#292929;
.left-block{background-color:$left-block-bgcolor;color:$left-block-color;}

.header .admin-logo{padding:0 0 0 20px;}
.tree-top-wrap .tree-top-list li .node-wrap{padding:0 8px;}
.tree-top-wrap .tree-top-list li .node-text{padding:0 0 0 4px;}

.menu-left-block{}
/************************ 右侧样式 ************************/
$tab-title-wrap-color:#555;
$tab-title-wrap-selected-color:#0088cc;
$tab-handle-bgcolor:#fff;
$tab-handle-color:#444;
.iframe-container{overflow:hidden;position:relative;}
.iframe-container .tabs-container{width:100%;height:100%;border-left:none;border-right:0;}
.iframe-container .tabs-container .tab-title-container{padding:0 10px !important;box-sizing:content-box;}
.iframe-container .tabs-container .tab-title-container .tab-title-wrap{color:$tab-title-wrap-color;}
.iframe-container .tabs-container .tab-title-container .tab-title-icon{margin-right:4px}
.iframe-container .tabs-container .tab-content{height:100%;}

.jqx-tabs-selection-tracker-top,.iframe-container .tabs-container .tab-title-container .jqx-tabs-title-selected-top .tab-title-wrap{color:$tab-title-wrap-selected-color;}
.jqx-widget-bootstrap, .jqx-widget-header-bootstrap, .jqx-fill-state-normal-bootstrap, .jqx-widget-content-bootstrap, .jqx-fill-state-hover-bootstrap, .jqx-fill-state-pressed-bootstrap{font-family:'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif}
/* tabs相关操作 */
.iframe-container .tabs-handle{position:absolute;right:0;top:56px;z-index:1;text-align:right;background-color:$tab-handle-bgcolor;height:26px;line-height:26px;padding:0 6px;}
.iframe-container .tabs-handle .handle{margin-right:4px;color:$tab-handle-color;}
.iframe-container .jqx-tabs-arrow-background:last-child{right:50px !important;}

/************************ 底部样式 ************************/

/************************ 后台框架布局操作相关 ************************/
$layout-handle-color:#fff;
$layout-handle-effected-color:#444;
.layout-handle{position:fixed;top:0;left:0;z-index:100;color:$layout-handle-color;padding:2px;}
.layout-handle.effected{color:$layout-handle-effected-color;}
.layout-handle .layout-handle-icon{vertical-align:top}
.main-top-block.full-screen{display:none;}
.left-block.full-screen{display:none;}
.center-block.iframe-container.full-screen{padding:0 !important;}
.center-block.iframe-container.full-screen .tabs-container .tab-title-container{padding-left:20px !important;}
.center-block.iframe-container.full-screen .tabs-handle{top:2px;}
