@charset "UTF-8";
/**
 * @doc breadcrumb 面包屑导航
 * @author Heanes
 * @time 2017-06-05 19:17:33 周一
 */
.breadcrumb-wrap{
  padding:0 10px;
}
.breadcrumb-wrap .breadcrumb-cell{
  display:inline-block;
}
.breadcrumb-wrap .breadcrumb-node{
  padding:10px 0;
}
.breadcrumb-wrap .breadcrumb-delimiter{

}
.breadcrumb-wrap .breadcrumb-delimiter .separator{
  color:map_get($color-set, gray-light);
  padding:0 2px;
}
