@charset "UTF-8";
/**
 * @doc 表格样式
 * @author Heanes
 * @time 2015-12-02 17:06:26
 */
table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table tr th,
.table tr td{
    padding:8px;
    vertical-align:top;
    text-align:left;
}
.table tbody tr td{
    border-top:1px solid #ddd;
}

.table thead tr th{
    font-weight:600;
    border-bottom:2px solid #ddd;
}

/* 表格带边框 */
.table.table-bordered,
.table.table-bordered tr th,
.table.table-bordered tr td{
    border:1px solid #ddd;
}
.table.table-bordered thead tr th{
    border-bottom:2px solid #ddd;
}

/* 带条纹（每间隔行背景色） */
.table.table-striped tbody tr:nth-child(2n+1){
    background-color:#f9f9f9;
}
.table.table-hover tbody tr:hover{
    background-color:#f9f9f9;
}