@charset "UTF-8";
/**
 * @doc 分页样式
 * @author Heanes
 * @time 2017-01-07 18:28:05 周六
 */
$paginationColor:#0275d8;
$paginationBgColor:#fff;
$paginationBorderColor:#ddd;
$paginationHoverColor:#fff;
$paginationHoverBgColor:#00a1d6;
$paginationHoverBorderColor:#00a1d6;

$paginationItemMargin:6px;
$paginationItemPadding:8px 12px;

.pagination{
  display: inline-block;
  vertical-align: middle;

  .pagination-link {
    margin: 10px 0;
    display: inline-block;

    .page-item {
      display: inline;

      .page-link {
        position: relative;
        float: left;
        //margin-right: $paginationItemMargin;
        padding: $paginationItemPadding;
        line-height: 1.42857143;
        border: 1px solid $paginationBorderColor;
        background-color: $paginationBgColor;
        color: $paginationColor;
      }

      &.current,
      &.ellipsis,
      &.disabled {
        .page-link{
          cursor: default;
          color: #666;
        }
      }
      &.ellipsis {
        .page-link {
          border: 0;
        }
      }

      &.disabled {
        .page-link{
          opacity: .8;
        }
      }

      &.current,
      &:not(.disabled):not(.ellipsis):hover{
        .page-link{
          background-color: $paginationHoverBgColor;
          color: $paginationHoverColor;
          border-color: $paginationHoverBorderColor;
          z-index: 2;
        }
      }
      // 有多个时才设置外边距
      & + .page-item{
        .page-link{
          margin-left: $paginationItemMargin;
        }
      }

    }

    /**
     * @doc 紧缩型
     * @author Heanes
     * @time 2018-12-21 15:00:22 周五
     */
    &.tight{
      .page-item{
        .page-link {
          margin: 0 0 0 -1px;
        }
      }
    }

    /**
     * @doc 带圆角边框的
     * @author Heanes
     * @time 2017-08-31 16:46:01 周四
     */
    $paginationBorderRadius: 4px;
    &.border-radius{
      &:not(.tight){
        .page-item{
          .page-link{
            border-radius:$paginationBorderRadius;
          }
        }
      }
      &.tight{
        .page-item{
          &:first-child{
            .page-link{
              border-top-left-radius: $paginationBorderRadius;
              border-bottom-left-radius: $paginationBorderRadius;
            }
          }
          &:last-child{
            .page-link {
              border-top-right-radius: $paginationBorderRadius;
              border-bottom-right-radius: $paginationBorderRadius;
            }
          }
        }
      }
    }
  }
  /**
     * @doc 更多操作功能型
     * @author Heanes
     * @time 2018-12-21 15:04:08 周五
     */
  .pagination-link,
  .pagination-info,
  .pagination-quick-link{
    display:inline-block;
    vertical-align: middle;
  }

  // 分页信息
  .pagination-info{
    font-size:0;
    .text {
      font-size: 13px;
    }

    input[type="text"] {
      width: 30px;
      text-align: center
    }
  }

  // 快速分页
  .pagination-quick-link{
    font-size:0;
    .text {
      font-size: 13px;
    }

    input[type="text"] {
      width: 30px;
      text-align: center
    }
  }
}
