@charset "UTF-8";
/**
 * @doc common css
 * @author Heanes
 * @time 2019-05-03 23:10:44 周五
 */
/**
 * @doc
 * @author Heanes
 * @time
 */
/* S 链接样式 S */
a {
  color: #326eb4;
  text-decoration: none; }

/* a标签还未被访问的状态 */
/* a标签已被访问过的状态 */
a:visited {
  color: #326eb4; }

a:hover {
  color: #326eb4;
  text-decoration: none; }

a:active {
  color: #8f001e; }

/* E 链接样式 E */
/* S 文字被选中样式 S */
::selection {
  background-color: #447099;
  color: #fff; }

::-moz-selection {
  background: #447099;
  color: #fff; }

/* E 文字被选中样式 E */
/**
 * @doc reset重设一些默认样式
 * @author Heanes
 * @time 2019-05-22 16:51:09 周三
 */
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333; }

/**
 * @doc 一些快速样式
 * @author Heanes
 * @time 2019-07-31 20:46:04 周三
 */
.mg-b-1 {
  margin-bottom: 1px; }

.mg-t-1 {
  margin-top: 1px; }

.pd-b-1 {
  padding-bottom: 1px; }

.mg-b-2 {
  margin-bottom: 2px; }

.mg-t-2 {
  margin-top: 2px; }

.pd-b-2 {
  padding-bottom: 2px; }

.mg-b-3 {
  margin-bottom: 3px; }

.mg-t-3 {
  margin-top: 3px; }

.pd-b-3 {
  padding-bottom: 3px; }

.mg-b-4 {
  margin-bottom: 4px; }

.mg-t-4 {
  margin-top: 4px; }

.pd-b-4 {
  padding-bottom: 4px; }

.mg-b-5 {
  margin-bottom: 5px; }

.mg-t-5 {
  margin-top: 5px; }

.pd-b-5 {
  padding-bottom: 5px; }

.mg-b-6 {
  margin-bottom: 6px; }

.mg-t-6 {
  margin-top: 6px; }

.pd-b-6 {
  padding-bottom: 6px; }

.mg-b-7 {
  margin-bottom: 7px; }

.mg-t-7 {
  margin-top: 7px; }

.pd-b-7 {
  padding-bottom: 7px; }

.mg-b-8 {
  margin-bottom: 8px; }

.mg-t-8 {
  margin-top: 8px; }

.pd-b-8 {
  padding-bottom: 8px; }

.mg-b-9 {
  margin-bottom: 9px; }

.mg-t-9 {
  margin-top: 9px; }

.pd-b-9 {
  padding-bottom: 9px; }

.mg-b-10 {
  margin-bottom: 10px; }

.mg-t-10 {
  margin-top: 10px; }

.pd-b-10 {
  padding-bottom: 10px; }

.mg-b-11 {
  margin-bottom: 11px; }

.mg-t-11 {
  margin-top: 11px; }

.pd-b-11 {
  padding-bottom: 11px; }

.mg-b-12 {
  margin-bottom: 12px; }

.mg-t-12 {
  margin-top: 12px; }

.pd-b-12 {
  padding-bottom: 12px; }

.mg-b-13 {
  margin-bottom: 13px; }

.mg-t-13 {
  margin-top: 13px; }

.pd-b-13 {
  padding-bottom: 13px; }

.mg-b-14 {
  margin-bottom: 14px; }

.mg-t-14 {
  margin-top: 14px; }

.pd-b-14 {
  padding-bottom: 14px; }

.mg-b-15 {
  margin-bottom: 15px; }

.mg-t-15 {
  margin-top: 15px; }

.pd-b-15 {
  padding-bottom: 15px; }

.mg-b-16 {
  margin-bottom: 16px; }

.mg-t-16 {
  margin-top: 16px; }

.pd-b-16 {
  padding-bottom: 16px; }

.mg-b-17 {
  margin-bottom: 17px; }

.mg-t-17 {
  margin-top: 17px; }

.pd-b-17 {
  padding-bottom: 17px; }

.mg-b-18 {
  margin-bottom: 18px; }

.mg-t-18 {
  margin-top: 18px; }

.pd-b-18 {
  padding-bottom: 18px; }

.mg-b-19 {
  margin-bottom: 19px; }

.mg-t-19 {
  margin-top: 19px; }

.pd-b-19 {
  padding-bottom: 19px; }

.mg-b-20 {
  margin-bottom: 20px; }

.mg-t-20 {
  margin-top: 20px; }

.pd-b-20 {
  padding-bottom: 20px; }

.mg-b-21 {
  margin-bottom: 21px; }

.mg-t-21 {
  margin-top: 21px; }

.pd-b-21 {
  padding-bottom: 21px; }

.mg-b-22 {
  margin-bottom: 22px; }

.mg-t-22 {
  margin-top: 22px; }

.pd-b-22 {
  padding-bottom: 22px; }

.mg-b-23 {
  margin-bottom: 23px; }

.mg-t-23 {
  margin-top: 23px; }

.pd-b-23 {
  padding-bottom: 23px; }

.mg-b-24 {
  margin-bottom: 24px; }

.mg-t-24 {
  margin-top: 24px; }

.pd-b-24 {
  padding-bottom: 24px; }

.mg-b-25 {
  margin-bottom: 25px; }

.mg-t-25 {
  margin-top: 25px; }

.pd-b-25 {
  padding-bottom: 25px; }

.mg-b-26 {
  margin-bottom: 26px; }

.mg-t-26 {
  margin-top: 26px; }

.pd-b-26 {
  padding-bottom: 26px; }

.mg-b-27 {
  margin-bottom: 27px; }

.mg-t-27 {
  margin-top: 27px; }

.pd-b-27 {
  padding-bottom: 27px; }

.mg-b-28 {
  margin-bottom: 28px; }

.mg-t-28 {
  margin-top: 28px; }

.pd-b-28 {
  padding-bottom: 28px; }

.mg-b-29 {
  margin-bottom: 29px; }

.mg-t-29 {
  margin-top: 29px; }

.pd-b-29 {
  padding-bottom: 29px; }

.mg-b-30 {
  margin-bottom: 30px; }

.mg-t-30 {
  margin-top: 30px; }

.pd-b-30 {
  padding-bottom: 30px; }

.mg-b-31 {
  margin-bottom: 31px; }

.mg-t-31 {
  margin-top: 31px; }

.pd-b-31 {
  padding-bottom: 31px; }

.mg-b-32 {
  margin-bottom: 32px; }

.mg-t-32 {
  margin-top: 32px; }

.pd-b-32 {
  padding-bottom: 32px; }

.mg-b-33 {
  margin-bottom: 33px; }

.mg-t-33 {
  margin-top: 33px; }

.pd-b-33 {
  padding-bottom: 33px; }

.mg-b-34 {
  margin-bottom: 34px; }

.mg-t-34 {
  margin-top: 34px; }

.pd-b-34 {
  padding-bottom: 34px; }

.mg-b-35 {
  margin-bottom: 35px; }

.mg-t-35 {
  margin-top: 35px; }

.pd-b-35 {
  padding-bottom: 35px; }

.mg-b-36 {
  margin-bottom: 36px; }

.mg-t-36 {
  margin-top: 36px; }

.pd-b-36 {
  padding-bottom: 36px; }

.mg-b-37 {
  margin-bottom: 37px; }

.mg-t-37 {
  margin-top: 37px; }

.pd-b-37 {
  padding-bottom: 37px; }

.mg-b-38 {
  margin-bottom: 38px; }

.mg-t-38 {
  margin-top: 38px; }

.pd-b-38 {
  padding-bottom: 38px; }

.mg-b-39 {
  margin-bottom: 39px; }

.mg-t-39 {
  margin-top: 39px; }

.pd-b-39 {
  padding-bottom: 39px; }

.mg-b-40 {
  margin-bottom: 40px; }

.mg-t-40 {
  margin-top: 40px; }

.pd-b-40 {
  padding-bottom: 40px; }

.mg-b-41 {
  margin-bottom: 41px; }

.mg-t-41 {
  margin-top: 41px; }

.pd-b-41 {
  padding-bottom: 41px; }

.mg-b-42 {
  margin-bottom: 42px; }

.mg-t-42 {
  margin-top: 42px; }

.pd-b-42 {
  padding-bottom: 42px; }

.mg-b-43 {
  margin-bottom: 43px; }

.mg-t-43 {
  margin-top: 43px; }

.pd-b-43 {
  padding-bottom: 43px; }

.mg-b-44 {
  margin-bottom: 44px; }

.mg-t-44 {
  margin-top: 44px; }

.pd-b-44 {
  padding-bottom: 44px; }

.mg-b-45 {
  margin-bottom: 45px; }

.mg-t-45 {
  margin-top: 45px; }

.pd-b-45 {
  padding-bottom: 45px; }

.mg-b-46 {
  margin-bottom: 46px; }

.mg-t-46 {
  margin-top: 46px; }

.pd-b-46 {
  padding-bottom: 46px; }

.mg-b-47 {
  margin-bottom: 47px; }

.mg-t-47 {
  margin-top: 47px; }

.pd-b-47 {
  padding-bottom: 47px; }

.mg-b-48 {
  margin-bottom: 48px; }

.mg-t-48 {
  margin-top: 48px; }

.pd-b-48 {
  padding-bottom: 48px; }

.mg-b-49 {
  margin-bottom: 49px; }

.mg-t-49 {
  margin-top: 49px; }

.pd-b-49 {
  padding-bottom: 49px; }

.mg-b-50 {
  margin-bottom: 50px; }

.mg-t-50 {
  margin-top: 50px; }

.pd-b-50 {
  padding-bottom: 50px; }

/*# sourceMappingURL=common.css.map */
