@charset "UTF-8";
/**
 * @doc 风格样式
 * @author Heanes
 * @time 2019-05-20 22:37:55 周一
 */

// 链接样式
a{
  text-decoration: none;
  &:link{
    color: inherit;
  }
  &:visited{
    color: inherit;
  }
  &:hover{
    color: inherit;
  }
  &:active{
    color: inherit;
  }
  &:focus{
    color: inherit;
  }
}

// 列表样式
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
