@charset "UTF-8";
/**
 * @doc Variables
 * @author Heanes
 * @time 2019-05-13 16:33:52 周一
 */
/* ****************************** Color 颜色 ****************************** */
$--color-white: #fff !default;
$--color-black: #000 !default;
$--color-transparent: transparent !default;
$--color-default: #333 !default;
$--color-primary: #1890ff !default;
/// 场景色
$--color-success: #38b03f !default;
$--color-info: #13c2c2 !default;
$--color-warning: #faad14 !default;
$--color-danger: #ff4d4f !default;

/// 不同级别的主色颜色
$--color-primary-dark-9: darken($--color-primary, 90%) !default;
$--color-primary-dark-8: darken($--color-primary, 80%) !default;
$--color-primary-dark-7: darken($--color-primary, 70%) !default;
$--color-primary-dark-6: darken($--color-primary, 60%) !default;
$--color-primary-dark-5: darken($--color-primary, 50%) !default;
$--color-primary-dark-4: darken($--color-primary, 40%) !default;
$--color-primary-dark-3: darken($--color-primary, 30%) !default;
$--color-primary-dark-2: darken($--color-primary, 20%) !default;
$--color-primary-dark-1: darken($--color-primary, 10%) !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default;
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default;
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default;
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default;
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default;
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default;
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default;
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default;
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default;
/// 不同级别的场景色
//// success
$--color-success-dark-9: darken($--color-success, 90%) !default;
$--color-success-dark-8: darken($--color-success, 80%) !default;
$--color-success-dark-7: darken($--color-success, 70%) !default;
$--color-success-dark-6: darken($--color-success, 60%) !default;
$--color-success-dark-5: darken($--color-success, 50%) !default;
$--color-success-dark-4: darken($--color-success, 40%) !default;
$--color-success-dark-3: darken($--color-success, 30%) !default;
$--color-success-dark-2: darken($--color-success, 20%) !default;
$--color-success-dark-1: darken($--color-success, 10%) !default;
$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-success-light-1: mix($--color-white, $--color-success, 10%) !default;
$--color-success-light-2: mix($--color-white, $--color-success, 20%) !default;
$--color-success-light-3: mix($--color-white, $--color-success, 30%) !default;
$--color-success-light-4: mix($--color-white, $--color-success, 40%) !default;
$--color-success-light-5: mix($--color-white, $--color-success, 50%) !default;
$--color-success-light-6: mix($--color-white, $--color-success, 60%) !default;
$--color-success-light-7: mix($--color-white, $--color-success, 70%) !default;
$--color-success-light-8: mix($--color-white, $--color-success, 80%) !default;
$--color-success-light-9: mix($--color-white, $--color-success, 90%) !default;

//// info
$--color-info-dark-9: darken($--color-info, 90%) !default;
$--color-info-dark-8: darken($--color-info, 80%) !default;
$--color-info-dark-7: darken($--color-info, 70%) !default;
$--color-info-dark-6: darken($--color-info, 60%) !default;
$--color-info-dark-5: darken($--color-info, 50%) !default;
$--color-info-dark-4: darken($--color-info, 40%) !default;
$--color-info-dark-3: darken($--color-info, 30%) !default;
$--color-info-dark-2: darken($--color-info, 20%) !default;
$--color-info-dark-1: darken($--color-info, 10%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;
$--color-info-light-1: mix($--color-white, $--color-info, 10%) !default;
$--color-info-light-2: mix($--color-white, $--color-info, 20%) !default;
$--color-info-light-3: mix($--color-white, $--color-info, 30%) !default;
$--color-info-light-4: mix($--color-white, $--color-info, 40%) !default;
$--color-info-light-5: mix($--color-white, $--color-info, 50%) !default;
$--color-info-light-6: mix($--color-white, $--color-info, 60%) !default;
$--color-info-light-7: mix($--color-white, $--color-info, 70%) !default;
$--color-info-light-8: mix($--color-white, $--color-info, 80%) !default;
$--color-info-light-9: mix($--color-white, $--color-info, 90%) !default;

//// warning
$--color-warning-dark-9: darken($--color-warning, 90%) !default;
$--color-warning-dark-8: darken($--color-warning, 80%) !default;
$--color-warning-dark-7: darken($--color-warning, 70%) !default;
$--color-warning-dark-6: darken($--color-warning, 60%) !default;
$--color-warning-dark-5: darken($--color-warning, 50%) !default;
$--color-warning-dark-4: darken($--color-warning, 40%) !default;
$--color-warning-dark-3: darken($--color-warning, 30%) !default;
$--color-warning-dark-2: darken($--color-warning, 20%) !default;
$--color-warning-dark-1: darken($--color-warning, 10%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-warning-light-1: mix($--color-white, $--color-warning, 10%) !default;
$--color-warning-light-2: mix($--color-white, $--color-warning, 20%) !default;
$--color-warning-light-3: mix($--color-white, $--color-warning, 30%) !default;
$--color-warning-light-4: mix($--color-white, $--color-warning, 40%) !default;
$--color-warning-light-5: mix($--color-white, $--color-warning, 50%) !default;
$--color-warning-light-6: mix($--color-white, $--color-warning, 60%) !default;
$--color-warning-light-7: mix($--color-white, $--color-warning, 70%) !default;
$--color-warning-light-8: mix($--color-white, $--color-warning, 80%) !default;
$--color-warning-light-9: mix($--color-white, $--color-warning, 90%) !default;

//// danger
$--color-danger-dark-9: darken($--color-danger, 90%) !default;
$--color-danger-dark-8: darken($--color-danger, 80%) !default;
$--color-danger-dark-7: darken($--color-danger, 70%) !default;
$--color-danger-dark-6: darken($--color-danger, 60%) !default;
$--color-danger-dark-5: darken($--color-danger, 50%) !default;
$--color-danger-dark-4: darken($--color-danger, 40%) !default;
$--color-danger-dark-3: darken($--color-danger, 30%) !default;
$--color-danger-dark-2: darken($--color-danger, 20%) !default;
$--color-danger-dark-1: darken($--color-danger, 10%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-danger-light-1: mix($--color-white, $--color-danger, 10%) !default;
$--color-danger-light-2: mix($--color-white, $--color-danger, 20%) !default;
$--color-danger-light-3: mix($--color-white, $--color-danger, 30%) !default;
$--color-danger-light-4: mix($--color-white, $--color-danger, 40%) !default;
$--color-danger-light-5: mix($--color-white, $--color-danger, 50%) !default;
$--color-danger-light-6: mix($--color-white, $--color-danger, 60%) !default;
$--color-danger-light-7: mix($--color-white, $--color-danger, 70%) !default;
$--color-danger-light-8: mix($--color-white, $--color-danger, 80%) !default;
$--color-danger-light-9: mix($--color-white, $--color-danger, 90%) !default;
//// 更浅色
$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;

/// 其他显示色
$--color-text-primary: #303133 !default;
$--color-text-primary-light-1: mix($--color-white, $--color-text-primary, 10%) !default;
$--color-text-primary-light-2: mix($--color-white, $--color-text-primary, 20%) !default;
$--color-text-primary-light-3: mix($--color-white, $--color-text-primary, 30%) !default;
$--color-text-primary-light-4: mix($--color-white, $--color-text-primary, 40%) !default;
$--color-text-primary-light-5: mix($--color-white, $--color-text-primary, 50%) !default;
$--color-text-primary-light-6: mix($--color-white, $--color-text-primary, 60%) !default;
$--color-text-primary-light-7: mix($--color-white, $--color-text-primary, 70%) !default;
$--color-text-primary-light-8: mix($--color-white, $--color-text-primary, 80%) !default;
$--color-text-primary-light-9: mix($--color-white, $--color-text-primary, 90%) !default;

$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #c0c4cc !default;
/// Border 边框色
$--border-color-base: #dcdfe6 !default;
$--border-color-light: #e4e7ed !default;
$--border-color-lighter: #ebeef5 !default;
$--border-color-extra-light: #f2f6fc !default;

/// Background 背景色
$--background-color-base: #f5f7fa !default;

/* Disabled base -------------------------- */
$--disabled-fill-base: $--background-color-base !default;
$--disabled-color-base: $--color-text-placeholder !default;
$--disabled-border-base: $--border-color-light !default;


/*  ****************************** Link 链接 ****************************** */

/*  ****************************** Border 边框 ****************************** */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-base: $--color-text-placeholder !default;
$--border-radius-base: 4px !default;

$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;

/*  ****************************** Typography 书写 ****************************** */
$--font-path: 'fonts' !default;
$--font-size-base: 14px !default;
$--font-weight-primary: 500 !default;

$--font-size-medium: 16px !default;

$--font-size-large: 18px !default;
/*  ****************************** Size 大小 ****************************** */
$--size-base: 14px !default;

/* ****************************** Button 按钮 ****************************** */
$--button-font-size: $--font-size-base !default;
$--button-font-weight: $--font-weight-primary !default;

$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;

$--button-border-radius: $--border-radius-base !default;
$--button-padding-vertical: 12px !default;
$--button-padding-horizontal: 20px !default;

/// modifier
$--button-round-border-radius: 20px !default;

/// status
$--button-disabled-font-color: $--color-text-placeholder !default;
$--button-disabled-background-color: $--color-white !default;
$--button-disabled-border-color: $--border-color-lighter !default;

/// size
$--button-ex-large-font-size: $--font-size-medium !default;
$--button-ex-large-border-radius: $--border-radius-base !default;
$--button-ex-large-circle-border-radius: #{$--button-round-border-radius + 7} !default;
$--button-ex-large-padding-vertical: 18px !default;
$--button-ex-large-padding-horizontal: 28px !default;

$--button-large-font-size: $--font-size-base !default;
$--button-large-border-radius: $--border-radius-base !default;
$--button-large-circle-border-radius: #{$--button-round-border-radius + 2} !default;
$--button-large-padding-vertical: 14px !default;
$--button-large-padding-horizontal: 24px !default;

$--button-medium-font-size: $--font-size-base !default;
$--button-medium-border-radius: $--border-radius-base !default;
$--button-medium-circle-border-radius: #{$--button-round-border-radius - 2} !default;
$--button-medium-padding-vertical: 10px !default;
$--button-medium-padding-horizontal: 18px !default;

$--button-small-font-size: 12px !default;
$--button-small-border-radius: #{$--border-radius-base - 1} !default;
$--button-small-circle-border-radius: #{$--button-round-border-radius - 5} !default;
$--button-small-padding-vertical: 8px !default;
$--button-small-padding-horizontal: 14px !default;

$--button-mini-font-size: 12px !default;
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;
$--button-mini-circle-border-radius: #{$--button-round-border-radius - 9} !default;
$--button-mini-padding-vertical: 4px !default;
$--button-mini-padding-horizontal: 6px !default;

/// type color
$--button-primary-font-color: $--color-white !default;
$--button-primary-background-color: $--color-primary !default;
$--button-primary-border-color: $--color-primary !default;

$--button-success-font-color: $--color-white !default;
$--button-success-background-color: $--color-success !default;
$--button-success-border-color: $--color-success !default;

$--button-warning-font-color: $--color-white !default;
$--button-warning-background-color: $--color-warning !default;
$--button-warning-border-color: $--color-warning !default;

$--button-danger-font-color: $--color-white !default;
$--button-danger-background-color: $--color-danger !default;
$--button-danger-border-color: $--color-danger !default;

$--button-info-font-color: $--color-white !default;
$--button-info-background-color: $--color-info !default;
$--button-info-border-color: $--color-info !default;

/* ****************************** Pagination 分页 ****************************** */
$--pagination-font-color: $--color-text-primary !default;
$--pagination-font-color-current: $--color-primary !default;
$--pagination-font-color-disabled: $--color-text-placeholder !default;
$--pagination-bg-color: $--color-white !default;
$--pagination-has-bg-color: $--border-color-lighter !default;
$--pagination-has-bg-color-current: $--color-primary !default;
$--pagination-has-bg-font-color-current: $--color-white !default;
$--pagination-border-color: $--border-color-base !default;
$--pagination-border-width: 1px !default;
$--pagination-border-style: solid !default;
$--pagination-hover-color: $--color-white !default;
$--pagination-hover-bg-color: $--color-primary !default;
$--pagination-hover-border-color: $--color-primary !default;

$--pagination-border-radius: 4px;

$--pagination-item-margin: 6px !default;
$--pagination-item-padding: 8px 12px !default;

/* ****************************** Message 反馈 ****************************** */
// ** Message 提示
$--message-border-radius: 4px !default;
$--message-success-color: $--color-success !default;
$--message-success-bg-color: $--color-success-light-9 !default;
$--message-success-border-color: $--color-success-light-7 !default;
$--message-success-icon-bg-color: $--color-success-light-7 !default;

$--message-info-color: $--color-info;
$--message-info-bg-color: $--color-info-light-9 !default;
$--message-info-border-color: $--color-info-light-7 !default;
$--message-info-icon-bg-color: $--color-info-light-7 !default;

$--message-warning-color: $--color-warning;
$--message-warning-bg-color: $--color-warning-light-9 !default;
$--message-warning-border-color: $--color-warning-light-7 !default;
$--message-warning-icon-bg-color: $--color-warning-light-7 !default;

$--message-error-color: $--color-danger !default;
$--message-error-bg-color: $--color-danger-light-9 !default;
$--message-error-border-color: $--color-danger-light-7 !default;
$--message-error-icon-bg-color: $--color-danger-light-7 !default;

// 进入的动画时间
$--message-transition-opacity-seconds: 0.3s;
$--message-transition-transform-seconds: 0.4s;
$--message-transition-top-seconds: 0.4s;

// ** Alert 警告
$--alert-between-margin-bottom: 10px;
$--alert-border-radius: 4px;

$--alert-success-color: $--color-success;
$--alert-success-bg-color: $--color-success-light-9;
$--alert-success-border-color: $--color-success-light-4;
$--alert-success-icon-bg-color: $--color-success-light-4;

$--alert-info-color: $--color-primary;
$--alert-info-bg-color: $--color-primary-light-9;
$--alert-info-border-color: $--color-primary-light-4;
$--alert-info-icon-bg-color: $--color-primary-light-4;

$--alert-warning-color: $--color-warning;
$--alert-warning-bg-color: $--color-warning-light-9;
$--alert-warning-border-color: $--color-warning-light-4;
$--alert-warning-icon-bg-color: $--color-warning-light-4;

$--alert-error-color: $--color-danger;
$--alert-error-bg-color: $--color-danger-light-9;
$--alert-error-border-color: $--color-danger-light-4;
$--alert-error-icon-bg-color: $--color-danger-light-4;

// 进入的动画时间
$--alert-transition-opacity-seconds: 0.3s;
$--alert-transition-transform-seconds: 0.4s;
$--alert-transition-top-seconds: 0.4s;

/* ****************************** Break-point 响应式断点 ****************************** */
$--input-height-large: 42px;
$--input-height: 36px;
$--input-height-medium: 32px;
$--input-height-small: 28px;
$--input-height-mini: 24px;

/// disabled
$--input-disabled-fill: $--disabled-fill-base !default;


// scrollbar 滚动条相关
$scrollbar-bg:              rgba(0,0,0,.39);
$scrollbar-box-shadow-color:rgba(0, 0, 0,.3);

// 不同粗细的滚动条

/* ****************************** Break-point 响应式断点 ****************************** */
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md - 1})",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg - 1})",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl - 1})",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);
