@charset "UTF-8";
/**
 * @doc breadcrumb 面包屑导航
 * @author Heanes
 * @time 2017-06-05 19:17:33 周一
 */
.breadcrumb-wrap{
  .breadcrumb-cell{
    display:inline-block;
    padding:4px 0;
    .breadcrumb-text,
    .breadcrumb-separator{
      display: inline-block;
    }
    .breadcrumb-separator{
      color:map_get($color-set, gray-light);
      padding: 0 4px;
    }
  }
}
