@CHARSET "UTF-8";

/**
 *
 * @doc 数据列表页面
 * @author Heanes
 * @time 2016-09-06 11:53:56 周二

/* 面包屑导航 2016-09-09 00:00:47 */
.page-crumbs{padding:10px;margin-bottom:20px;}
.page-crumbs.bg-normal{background-color:#f5f5f5;border:1px solid #ddd;}
.page-crumbs .crumbs-list{margin:0;list-style:none;}
.page-crumbs .crumbs-list li,
.page-crumbs .crumbs-list li .crumbs-href,
.page-crumbs .crumbs-list li .crumbs-separator{display:inline-block;vertical-align:middle;}
.page-crumbs .crumbs-list li .crumbs-separator{margin:0 6px;}

/* 数据编辑页面 */
/* tab 切换 */
.tab-block{}
.tab-block.border-normal{border:1px solid #ddd;}
.tab-block .tab-panel{border-bottom: 1px solid #ddd;border-top-left-radius:4px;border-top-right-radius:4px;}
.tab-block .tab-panel.bg-normal{background-color:#f5f5f5}
.tab-block .tab-panel .tab-panel-list{font-size:0;margin:0;border-top-left-radius:4px;}
.tab-block .tab-panel .tab-panel-list li{display:inline-block;border-right:1px solid #ddd;font-size:inherit;cursor:pointer;}
.tab-block .tab-panel .tab-panel-list li:first-child{margin-left:0;border-top-left-radius:4px;}
.tab-block .tab-panel .tab-panel-list li.active,
.tab-block .tab-panel .tab-panel-list li:hover{background-color:#fff;}
.tab-block .tab-panel .tab-panel-list li.active{margin-bottom:-1px;border-bottom:1px solid #fff;}
.tab-block .tab-panel .tab-panel-list li .tab-panel-content{}
.tab-block .tab-panel .tab-panel-list li .tab-panel-content .panel-title{font-size:14px;line-height:36px;padding:0 10px;margin:0;}

/* tab内容 */
.tab-block .tab-content{padding:20px 0;}
.tab-block .tab-content .content{display:none;margin:20px 0;}
.tab-block .tab-content .content.active{display:block;}

/**
 * @doc 编辑表单
 * @author Heanes
 * @time 2016-09-27 20:23:28 周二
 */
.data-edit-form{padding: 0 20px;}
.data-edit-form .form{width:870px;margin:0 auto;}
.data-edit-form .form .form-group.inline{display:inline-block;}
.data-edit-form .form .form-group.inline .form-control{width:auto;display:inline-block;vertical-align:middle;}
.data-edit-form .form .form-group .control-label{width:120px;text-align:right;vertical-align:middle;margin-bottom:0;}
.data-edit-form .form .form-group .control-label.input-show-value-text{width:auto;font-weight:normal;min-width:0;margin:0 10px 0 4px}
.data-edit-form .form .form-group .control-icon{margin-left:-30px;z-index:-1;vertical-align:middle;}

.data-edit-form .form .form-group .form-control.textarea-title{width:740px;height:60px;}
.data-edit-form .form .form-group .form-control.textarea-content{width:740px;height:740px;}
.data-edit-form .form .form-group .kindEditor-count{padding-left:134px;font-size:13px;color:#5a5a5a;}
.data-edit-form .form .form-group .form-control.textarea-content.uEditor{padding:0;border:0;margin-bottom:130px;}
.data-edit-form .form .form-group .form-control.textarea-content.uEditor.eui-default{height:auto;}
.data-edit-form .form .form-group input[type="checkbox"],
.data-edit-form .form .form-group input[type="radio"]{display:inline-block;vertical-align:middle;margin:0;}
.ke-container{display:inline-block;vertical-align:top;}

.data-edit-form .form .form-handle{margin:20px auto;}
.data-edit-form .form .form-handle .handle-group{}
.data-edit-form .form .form-handle .handle-group.text-center{text-align:center}
.data-edit-form .form .form-handle .handle-group .handle{margin:0 20px;}
