@charset "UTF-8";
/**
 * @doc 文档布局样式
 * @author Heanes
 * @time 2019-05-19 22:38:10 周日
 */
@import "../common/mixins/mixins.scss";
@import "../common/var.scss";
.doc-container{

  .header{
    height: $--header-height;
  }

  .main{
    padding: 10px;
    // 左侧导航
    // 右侧内容
    .right-content{
      padding-left: $--left-side-width + 18px;
    }
  }

  .footer{
    ;
  }

}

@include res(lg){
  .main-width{
    width: 1092px;
    margin: 0 auto;
  }
}

