@charset "UTF-8";
/**
 * @doc 侧边导航栏
 * @author Heanes
 * @time 2019-05-20 22:33:16 周一
 */
@import "../common/color.scss";
@import "../common/var.scss";
$nav-link-active-color: $color-primary;

// todo 添加更好看的滚动条样式
.left-menu-wrap {
  position: fixed;
  width: $--left-side-width;
  top: 0;
  bottom: 0;
  margin-top: $--header-height + 1px;
  //opacity: .5;
  //transition: all 3s;

  &:hover {
    opacity: 1;
  }

  .menu-nav-wrap{
    height: 100%;
    overflow: auto;
    .menu-nav__ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .nav-item__li {
        padding: 4px 0;
        line-height: 2em;

        .active {
          color: $nav-link-active-color;
        }

        .nav-link{
          font-weight: 600;
          color: #333;
          font-size: 15px;
          margin: 8px 0;
        }

        .nav-group {
          margin: 4px 0;

          .nav-group__title {
            color: #888;
            font-size: 12px;
          }

        }
      }

      &--sub,
      .nav-group{
        .nav-item__li{
          .nav-link{
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
    }
  }
}
