@charset "UTF-8";
/**
 * @doc 分页样式
 * @author Heanes
 * @time 2017-01-07 18:28:05 周六
 */
.pagination{margin:10px 0;display:inline-block;}
.pagination .pagination-link,
.pagination .pagination-info,
.pagination .pagination-quick-link{display:inline-block;}
/* 翻页 */
.pagination .pagination-link{font-size:0;}
.pagination .pagination-link .pg{display:inline-block;padding:10px 12px;margin:0 4px;color:#3377aa;border:1px solid #ddd;border-radius:4px;transition:.2s all;text-align:center;line-height:1;cursor:pointer;font-size:14px;}
.pagination .pagination-link .pg:hover,
.pagination .pagination-link .pg.current{color:#fff;background-color:#00a1d6;border-color:#00a1d6;text-decoration:none;}
.pagination .pagination-link .pg.page-link-ellipsis{border-width:0;padding:10px 8px;cursor:text;}
.pagination .pagination-link .pg.page-link-ellipsis:hover{color:inherit;background-color:inherit;}
.pagination .pagination-link .pg.disabled{color:#777;cursor:default;}
.pagination .pagination-link .pg.disabled:hover{color:#777;background-color:#eee;}

/* 紧凑型表格样式 */
.pagination.table-tight .pagination-link{display:inline-block;}
.pagination.table-tight .pagination-link .pg{margin:0;border-radius:0;border:1px solid #ddd;border-left-width:0;}
.pagination.table-tight .pagination-link .pg:last-child{}
.pagination.table-tight .pagination-link .pg:first-child{border-left-width:1px;}
.pagination.table-tight .pagination-link .pg:hover{background-color:#00a1d6;color:#fff;border-color:#00a1d6;}
.pagination.table-tight .pagination-link .pg.page-link-ellipsis{padding:10px 12px;}
.pagination.table-tight .pagination-link .pg.current,
.pagination.table-tight .pagination-link .pg.current:hover{color:#fff;background-color:#00a1d6;border-color:#ddd;}
.pagination.table-tight .pagination-link .pg.current{border-color:#00a1d6;}
.pagination.table-tight .pagination-link .pg.disabled{color:#777;cursor:default;}
.pagination.table-tight .pagination-link .pg.disabled:hover{color:#777;background-color:unset;}

/* 分页信息 */
.pagination .pagination-info{font-size:0}
.pagination .pagination-info .text{font-size:13px;}
.pagination .pagination-info input[type="text"]{width:30px;text-align:center}

/* 快速分页 */
.pagination .pagination-quick-link{font-size:0}
.pagination .pagination-quick-link .text{font-size:13px;}
.pagination .pagination-quick-link input[type="text"]{width:30px;text-align:center}
