@charset "UTF-8";

/**
 *
 * @doc 数据列表页面
 * @author Heanes
 * @time 2016-09-06 11:53:56 周二

/* 查询表单 */
.search-form{position:relative;margin-bottom:20px;background-color:#f5f5f5;}
.search-form.bg-normal{background-color:#f5f5f5;border:1px solid #ddd;}
.search-form.bg-normal form{padding:20px;}
.search-form .input-block,
.search-form .form-handle{display:table-cell;}
.search-form .line-group{}
.search-form .line-group.last,
.search-form .line-group:last-child{margin-bottom:0;}
.search-form .line-group .form-group{margin-bottom:20px;}
.search-form .line-group .control-label{min-width:84px;text-align:right;}
.search-form .line-group .control-label.text-center{text-align:center;}
.search-form .line-group .form-control{min-width:140px;}
.search-form .line-group .normal-input-width,
.search-form .line-group .select2-container{min-width:178px;}
.search-form .form-handle{vertical-align:middle;padding:0 50px 0;}
.search-form .form-handle .handle-inline{display:inline-block;vertical-align:bottom;margin-right:20px;}
.search-form .form-handle .handle-inline:last-child{margin-right:0;}
.search-form .form-handle .handle-inline input[type="reset"],
.search-form .form-handle .handle-inline button[type="reset"]{margin-left:40px;}

/* 全局消息 @time 2016-09-08 18:36:48 周四 */
.global-message{margin:20px 0;}

/* 数据列表统计区域 @time 2016-09-08 18:36:38 周四 */
.data-statistics{margin:20px 0;}
.data-statistics .statistics-content{padding:16px;border:1px solid #ddd;border-radius:4px;}
.data-statistics .statistics-content p{margin:0;}

/* 数据操作区域 @time 2016-09-08 19:15:09 周四 */
.date-handle{display:table;width:100%;padding-top:10px;}
.date-handle .table-cell{display:table-cell}
.date-handle .handle-right{text-align:right;vertical-align:bottom;}
.date-handle .handle-right .handle{}
.date-handle .handle-right .handle:hover{text-decoration:none;}
.date-handle .handle-right .handle.disabled{color:#ddd;pointer-events:none;cursor:not-allowed;}
.date-handle .handle-right .handle-inline{margin:0 10px;}

/* 数据列表 */
.data-list{margin:16px 0;}
.data-list .table{margin-bottom:0;}
.data-list .table .select-row{width:60px;}
.data-list .bg-normal{background-color:#ededed;}
.data-list .op-btn{font-size:13px;}
.data-list .op-btn .op-icon{position:inherit;margin-right:2px;}
.data-list .op-btn .op-icon,
.data-list .op-btn .btn-text{display:inline-block;vertical-align:middle;}
/* 选中后的数据的批量操作 @time 2016-09-11 17:35:39 */
.data-selected-handle{margin:20px 0;}
.data-selected-handle .handle-one{margin-right:20px;}
.data-selected-handle .inline-block{display:inline-block;vertical-align:middle;margin:0;}
.data-selected-handle input.inline-block{margin-right:6px;}
.data-selected-handle .selected-count{color:#ff0000;margin:0 4px;}

/* 分页样式 */
.turn-page{text-align:right;margin:6px 0;}
.turn-page input[type="text"]{padding:0 4px;font-size:13px;height:24px;line-height:24px;color:#555;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.turn-page input:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.turn-page .inline-block{display:inline-block;}
.turn-page .page-link{margin:4px 0 8px 0;font-size:0;}
.turn-page .page-link a{display:inline-block;margin:0 4px;border:1px solid #ddd;padding:0 4px;min-width:32px;height:30px;line-height:30px;text-align:center;font-size:14px;border-radius:4px;}
.turn-page .page-link a:hover{text-decoration:none;background-color:#00a0e9;color:#fff;}
.turn-page .page-link a:focus,
.turn-page .page-link a:active{text-decoration:none;}
.turn-page .page-link a.current{border:0;}
.turn-page .page-link a.current:hover{background-color:inherit;color:inherit;cursor:text}
.turn-page .page-link a:last-child{margin-right:0;}
.turn-page .page-link .href-ellipsis{display:inline-block;min-width:30px;height:30px;line-height:30px;text-align:center;font-size:14px;}
.turn-page .page-info,
.turn-page .page-quick-link{margin:4px 0 8px 0;color:#666;font-size:13px;height:24px;line-height:24px;}
.turn-page .page-info{margin-top:20px;}
.turn-page .page-info .page-info-btn{vertical-align:top;}
.turn-page .page-info .input-page-size{width:40px;margin:0 3px;}
.turn-page .page-info .quick-input{width:30px;margin:0 3px;}
.turn-page .page-info .quick-select{display:inline-block;width:auto;line-height:inherit;height:inherit;font-size:inherit;padding:2px 4px;}
