@charset "UTF-8";
/**
 * @doc alert 警告
 * @author Heanes
 * @time 2019-09-11 17:37:00 周三
 */
@import "./mixins/mixins.scss";
@import "common/var";

@include b(alert){
  position: relative;
  padding: 8px 30px 8px 14px;
  border-radius: 4px;
  border: 1px solid;
  transition: opacity $--alert-transition-opacity-seconds;

  & + .he-alert{
    margin-top: $--alert-between-margin-bottom;
  }

  @include m(success){
    color: $--alert-success-color;
    background-color: $--alert-success-bg-color;
    border-color: $--alert-success-border-color;
    .he-alert-type-icon{
      color: $--alert-success-icon-bg-color;
    }
  }

  @include m(info){
    color: $--alert-info-color;
    background-color: $--alert-info-bg-color;
    border-color: $--alert-info-border-color;
    .he-alert-type-icon{
      color: $--alert-info-icon-bg-color;
    }
  }

  @include m(warning){
    color: $--alert-warning-color;
    background-color: $--alert-warning-bg-color;
    border-color: $--alert-warning-border-color;
    .he-alert-type-icon{
      color: $--alert-warning-icon-bg-color;
    }
  }

  @include m(error){
    color: $--alert-error-color;
    background-color: $--alert-error-bg-color;
    border-color: $--alert-error-border-color;
    .he-alert-type-icon{
      color: $--alert-error-icon-bg-color;
    }
  }

  .he-alert-type-icon,
  .he-alert-custom-content{
    vertical-align: middle;
  }

  .he-alert-handle-btn-close{
    position: absolute;
    top: 8px;
    right: 4px;
    cursor: pointer;
  }
}

@include b(alert-fade) {
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
