@charset "UTF-8";
/**
 * @doc alert 警告
 * @author Heanes
 * @time 2019-09-11 17:37:00 周三
 */
@import "./mixins/mixins.scss";
@import "common/var";

@include b(alert){
  padding: 8px 15px 8px 37px;
  border-radius: 4px;

  & + .he-alert{
    margin-top: 10px;
  }

  @include m(success){
    background-color: #f6ffed;
    border: 1px solid #b7eb8f;
  }

  @include m(info){
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
  }

  @include m(warning){
    background-color: #fffbe6;
    border: 1px solid #ffe58f;
  }

  @include m(error){
    background-color: #fff1f0;
    border: 1px solid #ffa39e;
  }

}
