@charset "UTF-8";
/**
 * @doc color 颜色
 * @author Heanes
 * @time 2019-05-21 11:26:55 周二
 */
/**
 * @doc 功能函数
 * @author Heanes
 * @time 2019-05-07 12:19:23 周二
 */
/**
 * @doc Variables
 * @author Heanes
 * @time 2019-05-13 16:33:52 周一
 */
/* ****************************** Color 颜色 ****************************** */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Disabled base -------------------------- */
/*  ****************************** Link 链接 ****************************** */
/*  ****************************** Border 边框 ****************************** */
/*  ****************************** Typography 书写 ****************************** */
/*  ****************************** Size 大小 ****************************** */
/* ****************************** Button 按钮 ****************************** */
/* ****************************** Pagination 分页 ****************************** */
/* ****************************** Break-point 响应式断点 ****************************** */
/* ****************************** Break-point 响应式断点 ****************************** */
/* ****************************** Break-points ****************************** */
/* ****************************** Scrollbar ****************************** */
/* ****************************** Placeholder ****************************** */
/* ****************************** BEM ****************************** */
/* ****************************** 状态修饰 ****************************** */
/**
 * @doc Variables
 * @author Heanes
 * @time 2019-05-13 16:33:52 周一
 */
/* ****************************** Color 颜色 ****************************** */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Disabled base -------------------------- */
/*  ****************************** Link 链接 ****************************** */
/*  ****************************** Border 边框 ****************************** */
/*  ****************************** Typography 书写 ****************************** */
/*  ****************************** Size 大小 ****************************** */
/* ****************************** Button 按钮 ****************************** */
/* ****************************** Pagination 分页 ****************************** */
/* ****************************** Break-point 响应式断点 ****************************** */
/* ****************************** Break-point 响应式断点 ****************************** */
.he-color--primary {
  background-color: #428bca; }
.he-color--success {
  background-color: #38b03f; }
.he-color--info {
  background-color: #03b8cf; }
.he-color--warning {
  background-color: #f1a325; }
.he-color--danger {
  background-color: #ca6451; }
.he-color--primary-light-1 {
  background-color: #5597cf; }
.he-color--primary-light-2 {
  background-color: #68a2d5; }
.he-color--primary-light-3 {
  background-color: #7baeda; }
.he-color--primary-light-4 {
  background-color: #8eb9df; }
.he-color--primary-light-5 {
  background-color: #a1c5e5; }
.he-color--primary-light-6 {
  background-color: #b3d1ea; }
.he-color--primary-light-7 {
  background-color: #c6dcef; }
.he-color--primary-light-8 {
  background-color: #d9e8f4; }
.he-color--primary-light-9 {
  background-color: #ecf3fa; }
.he-color--success-light {
  background-color: #d7efd9; }
.he-color--info-light {
  background-color: #cdf1f5; }
.he-color--danger-light {
  background-color: #f4e0dc; }
.he-color--warning-light {
  background-color: #fcedd3; }
.he-color--success-lighter {
  background-color: #ebf7ec; }
.he-color--info-lighter {
  background-color: #e6f8fa; }
.he-color--danger-lighter {
  background-color: #faf0ee; }
.he-color--warning-lighter {
  background-color: #fef6e9; }
.he-color--text-primary {
  background-color: #303133; }
.he-color--text-primary-light-1 {
  background-color: #454647; }
.he-color--text-primary-light-2 {
  background-color: #595a5c; }
.he-color--text-primary-light-3 {
  background-color: #6e6f70; }
.he-color--text-primary-light-4 {
  background-color: #838385; }
.he-color--text-primary-light-5 {
  background-color: #989899; }
.he-color--text-primary-light-6 {
  background-color: #acadad; }
.he-color--text-primary-light-7 {
  background-color: #c1c1c2; }
.he-color--text-primary-light-8 {
  background-color: #d6d6d6; }
.he-color--text-primary-light-9 {
  background-color: #eaeaeb; }
.he-color--text-regular {
  background-color: #606266; }
.he-color--text-secondary {
  background-color: #909399; }
.he-color--text-placeholder {
  background-color: #c0c4cc; }
.he-color--border-base {
  background-color: #dcdfe6; }
.he-color--border-light {
  background-color: #e4e7ed; }
.he-color--border-lighter {
  background-color: #ebeef5; }
.he-color--border-extra-light {
  background-color: #f2f6fc; }
.he-color--black {
  background-color: #000; }
.he-color--white {
  background-color: #fff; }
.he-color--transparent {
  background-color: transparent; }

/*# sourceMappingURL=color.css.map */
