@charset "UTF-8";
/**
 * @doc message 提示消息
 * @author Heanes
 * @time 2019-09-02 23:58:08 周一
 */
@import "./mixins/mixins.scss";
@import "common/var";

$--message-border-radius: 4px;
$--message-success-color: #3c763d;
$--message-success-bg-color: #dff0d8;
$--message-success-border-color: #c5e2ac;
$--message-success-icon-bg-color: #13ce66;

$--message-info-color: #31708f;
$--message-info-bg-color: #d9edf7;
$--message-info-border-color: #bce8f1;
$--message-info-icon-bg-color: #50bfff;

$--message-warn-color: #8a6d3b;
$--message-warn-bg-color: #fcf8e3;
$--message-warn-border-color: #faebcc;
$--message-warn-icon-bg-color: #f7ba2a;

$--message-error-color: #a94442;
$--message-error-bg-color: #f2dede;
$--message-error-border-color: #ebccd1;
$--message-error-icon-bg-color: #ff4949;

// 进入的动画时间
$--message-transition-opacity-seconds: 0.3s;
$--message-transition-transform-seconds: 0.4s;
$--message-transition-top-seconds: 0.4s;

/************************ message 消息样式 ************************/
@include b(message-global-container) {
  word-break: break-all;
  position: fixed;
  width: 100%;
  top: 20px;
  text-align: center;
  pointer-events: none; // 此处很重要，避免100%宽度的div遮挡底下内容
}

@include b(message-fade) {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translate(0, -100%);
  }

}

@include b(message-container) {
  margin-bottom: 4px;
  position: relative;
  transition: opacity $--message-transition-opacity-seconds, transform $--message-transition-transform-seconds, top $--message-transition-top-seconds;

  @include b(message) {
    position: relative;
    display: inline-block;
    border: 1px solid;
    text-align: initial;
    pointer-events: all; // 此处很重要
    //left: 50%;
    //transform: translateX(-50%);
    min-width: 300px;
    max-width: 96%;
    min-height: 30px;
    padding: 8px 30px 8px 8px;
    border-radius: $--message-border-radius;
    //box-shadow: 0 0 6px rgba(152, 152, 152, 0.3);
    box-shadow: 0 2px 12px rgba(0,0,0,0.15);

    /**
     * @doc success 成功样式
     */
    @include m(success) {
      color: $--message-success-color;
      background-color: $--message-success-bg-color;
      border-color: $--message-success-border-color;

      .he-message-content-section {
        .he-message-icon-wrap {
          background-color: $--message-success-icon-bg-color;
        }
      }
    }

    /**
     * @doc info 信息样式
     */
    @include m(info) {
      color: $--message-info-color;
      background-color: $--message-info-bg-color;
      border-color: $--message-info-border-color;

      .he-message-content-section {
        .he-message-icon-wrap {
          background-color: $--message-info-icon-bg-color;
        }
      }
    }

    /**
     * @doc warning 警告样式
     */
    @include m(warning) {
      color: $--message-warn-color;
      background-color: $--message-warn-bg-color;
      border-color: $--message-warn-border-color;

      .he-message-content-section {
        .he-message-icon-wrap {
          background-color: $--message-warn-icon-bg-color;
        }
      }
    }

    // error 错误样式
    /**
     * @doc error 错误样式
     */
    @include m(error) {
      color: $--message-error-color;
      background-color: $--message-error-bg-color;
      border-color: $--message-error-border-color;

      .he-message-content-section {
        .he-message-icon-wrap {
          background-color: $--message-error-icon-bg-color;
        }
      }
    }

    // message 内容
    .he-message-content-section {
      display: inline-block;

      .he-message-type-icon{
        vertical-align: middle;
      }
      .he-message-content {
        display: inline;
        vertical-align: middle;
        word-break: break-all;
      }
    }

    // message 操作区
    .he-message-handle-section {
      .handle-btn-close {
        position: absolute;
        right: 4px;
        top: 10px;
        font-size: 13px;
        font-weight: 300;
        border-radius: 50%;
        color: #888;
        cursor: pointer;

        &:hover {
          background-color: #d9534f;
          color: #fff;
          font-weight: 600;
          font-size: 12px;
        }
      }
    }
  }
}
