@charset "UTF-8";
/**
 * @doc 分页样式
 * @author Heanes
 * @time 2017-01-07 18:28:05 周六
 */
/**
 * @doc 功能函数
 * @author Heanes
 * @time 2019-05-07 12:19:23 周二
 */
/**
 * @doc Variables
 * @author Heanes
 * @time 2019-05-13 16:33:52 周一
 */
/* ****************************** Color 颜色 ****************************** */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Disabled base -------------------------- */
/*  ****************************** Link 链接 ****************************** */
/*  ****************************** Border 边框 ****************************** */
/*  ****************************** Typography 书写 ****************************** */
/*  ****************************** Size 大小 ****************************** */
/* ****************************** Button 按钮 ****************************** */
/* ****************************** Pagination 分页 ****************************** */
/* ****************************** Break-point 响应式断点 ****************************** */
/* ****************************** Break-point 响应式断点 ****************************** */
/* ****************************** Break-points ****************************** */
/* ****************************** Scrollbar ****************************** */
/* ****************************** Placeholder ****************************** */
/* ****************************** BEM ****************************** */
/* ****************************** 状态修饰 ****************************** */
/**
 * @doc Variables
 * @author Heanes
 * @time 2019-05-13 16:33:52 周一
 */
/* ****************************** Color 颜色 ****************************** */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Disabled base -------------------------- */
/*  ****************************** Link 链接 ****************************** */
/*  ****************************** Border 边框 ****************************** */
/*  ****************************** Typography 书写 ****************************** */
/*  ****************************** Size 大小 ****************************** */
/* ****************************** Button 按钮 ****************************** */
/* ****************************** Pagination 分页 ****************************** */
/* ****************************** Break-point 响应式断点 ****************************** */
/* ****************************** Break-point 响应式断点 ****************************** */
.he-pagination {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  /**
   * @doc 有边框型
   * @author Heanes
   * @time 2019-05-27 11:04:12 周一
   */
  /**
   * @doc 紧缩型
   * @author Heanes
   * @time 2018-12-21 15:00:22 周五
   */
  /**
   * @doc 有边框型
   * @author Heanes
   * @time 2019-05-27 11:04:12 周一
   */
  /**
   * @doc 更多操作功能型
   * @author Heanes
   * @time 2018-12-21 15:04:08 周五
   */ }
  .he-pagination .pagination-list {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle; }
  .he-pagination .pagination-btn,
  .he-pagination .page-item {
    display: inline-block;
    position: relative;
    padding: 0;
    background-color: #fff;
    color: #303133;
    font-size: 14px;
    line-height: 1.1em;
    vertical-align: middle; }
    .he-pagination .pagination-btn .page-link,
    .he-pagination .page-item .page-link {
      display: block;
      padding: 8px 12px;
      color: inherit;
      font-weight: 500; }
    .he-pagination .pagination-btn.current .page-link, .he-pagination .pagination-btn.ellipsis .page-link, .he-pagination .pagination-btn.disabled .page-link,
    .he-pagination .page-item.current .page-link,
    .he-pagination .page-item.ellipsis .page-link,
    .he-pagination .page-item.disabled .page-link {
      cursor: default;
      pointer-events: none; }
    .he-pagination .pagination-btn.ellipsis .page-link, .he-pagination .pagination-btn.disabled .page-link,
    .he-pagination .page-item.ellipsis .page-link,
    .he-pagination .page-item.disabled .page-link {
      color: #c0c4cc; }
    .he-pagination .pagination-btn.ellipsis,
    .he-pagination .page-item.ellipsis {
      border: 0; }
    .he-pagination .pagination-btn.disabled,
    .he-pagination .page-item.disabled {
      opacity: .8; }
    .he-pagination .pagination-btn.current, .he-pagination .pagination-btn:not(.disabled):not(.ellipsis):hover,
    .he-pagination .page-item.current,
    .he-pagination .page-item:not(.disabled):not(.ellipsis):hover {
      z-index: 2;
      color: #428bca; }
    .he-pagination .pagination-btn + .page-item,
    .he-pagination .page-item + .page-item {
      margin-left: 6px; }
  .he-pagination .pagination-btn {
    border: 0; }
    .he-pagination .pagination-btn--prev {
      margin-right: 6px; }
      .he-pagination .pagination-btn--prev .disabled {
        pointer-events: none; }
    .he-pagination .pagination-btn--next {
      margin-left: 6px; }
      .he-pagination .pagination-btn--next .disabled {
        pointer-events: none; }
  .he-pagination.is-border .pagination-btn,
  .he-pagination.is-border .page-item {
    border: 1px solid #dcdfe6; }
  .he-pagination.is-tight .page-item {
    margin: 0 0 0 -1px; }
    .he-pagination.is-tight .page-item.current {
      border-color: #428bca; }
  .he-pagination.is-tight .pagination-btn--prev {
    margin-right: -1px; }
  .he-pagination.is-tight .pagination-btn--next {
    margin-left: -1px; }
  .he-pagination.is-background .pagination-btn,
  .he-pagination.is-background .page-item {
    background-color: #ebeef5; }
    .he-pagination.is-background .pagination-btn.current, .he-pagination.is-background .pagination-btn:not(.disabled):not(.ellipsis):hover,
    .he-pagination.is-background .page-item.current,
    .he-pagination.is-background .page-item:not(.disabled):not(.ellipsis):hover {
      background: #428bca;
      color: #fff; }
  .he-pagination .pagination-quick-jump {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px; }
  .he-pagination .he-pagination-input {
    font-size: 14px;
    width: 50px;
    margin: 0 0 0 4px;
    vertical-align: middle; }

/*# sourceMappingURL=pagination.css.map */
