@charset "UTF-8";
/**
 * @doc drag可拖拽区块
 * @author Heanes
 * @time 2017-03-03 18:50:25 周五
 */
$content-width: 600px;
$content-height: 400px;
$drag-content-padding: 0;

$drag-wrap-borer-width: 0px;
$drag-wrap-borer-style: solid;
$drag-wrap-borer-color: #aaa;

$drag-content-borer-width: 1px;
$drag-content-borer-style: solid;
$drag-content-borer-color: #a0b3d6;

$drag-wrap-box-shadow: 2px 2px 4px rgba(130, 130, 130, .5);

$drag-move-bar-height: 40px;
$drag-move-bar-bg-color: #258cef;
$drag-move-bar-color: #fff;
$drag-move-bar-borer-width: 1px;
$drag-move-bar-borer-style: solid;
$drag-move-bar-border-color: #a0b3d6;
$drag-move-bar-font-size: 14px;

$drag-border-bg-color: rgba(240, 243, 249, 0.44);
$drag-border-width: 10px;

.drag-wrap {
  width: $content-width + ($drag-content-padding * 2) + ($drag-border-width * 2) + ($drag-wrap-borer-width * 2) + ($drag-content-borer-width * 2);
  height: $content-height + ($drag-content-padding * 2) + ($drag-border-width * 2) + $drag-move-bar-height + ($drag-wrap-borer-width * 2) + ($drag-content-borer-width * 2);
}

.drag-wrap {
  position: relative;
  border: $drag-wrap-borer-width $drag-wrap-borer-style $drag-wrap-borer-color;
  box-shadow: $drag-wrap-box-shadow;
  display:inline-block;
}


.drag-wrap .drag-operate-wrap {

}

.drag-wrap .drag-operate-wrap .drag-move-bar{
  position: absolute;
  width: $content-width + (2 * $drag-content-padding) + ($drag-content-borer-width * 2);
  height: $drag-move-bar-height + $drag-move-bar-borer-width;
  left: $drag-border-width;
  top: $drag-border-width;
  border: $drag-move-bar-borer-width $drag-move-bar-borer-style $drag-move-bar-border-color;
  border-bottom: 0;
  margin-bottom: 0;
  font-size: $drag-move-bar-font-size;
  font-weight: normal;
  line-height: $drag-move-bar-height;
  padding: 0 10px;
  background-color: $drag-move-bar-bg-color;
  color:$drag-move-bar-color;
  cursor: move;
}

.drag-wrap .drag-operate-wrap .drag-move-bar *{
  font-size: $drag-move-bar-font-size;
  font-weight: normal;
  margin:0;
}

.drag-wrap .drag-content {
  position: absolute;
  padding: $drag-content-padding;
  bottom: $drag-border-width;
  left: $drag-border-width;
  border: $drag-content-borer-width $drag-wrap-borer-style $drag-content-borer-color;
}

/* 当窗体大小变得太小时，原始内容应出现滚动条 */
.drag-wrap .drag-content > *{overflow:auto;}

.drag-wrap .drag-operate-wrap .drag-border {
  background-color: $drag-border-bg-color;
  &.drag-border-top,
  &.drag-border-bottom,
  &.drag-border-right,
  &.drag-border-left {
    position: absolute;
  }
  &.drag-border-top,
  &.drag-border-bottom {
    left: $drag-border-width;
    width: $content-width + ($drag-content-padding * 2) + ($drag-move-bar-borer-width * 2);
    height: $drag-border-width;
    cursor: ns-resize;
  }
  // 上边框，从上方拖动[高度]
  &.drag-border-top {
    top: 0;
  }
  // 下边框，从上方拖动[高度]
  &.drag-border-bottom {
    bottom: 0;
  }
  &.drag-border-right,
  &.drag-border-left {
    top: $drag-border-width;
    width: $drag-border-width;
    height: $content-height + ($drag-content-padding * 2) + $drag-move-bar-height + ($drag-move-bar-borer-width * 2);
    cursor: e-resize;
  }
  // 左边框，从左方拖动[宽度]
  &.drag-border-left {
    left: 0;
  }
  // 右边框，从右方拖动[宽度]
  &.drag-border-right {
    right: 0;
  }
  &.drag-border-top-left,
  &.drag-border-top-right,
  &.drag-border-bottom-left,
  &.drag-border-bottom-right {
    position: absolute;
    width: $drag-border-width;
    height: $drag-border-width;
  }
  &.drag-border-top-left,
  &.drag-border-top-right {
    top: 0;
  }
  &.drag-border-top-left,
  &.drag-border-bottom-left {
    left: 0;
  }
  &.drag-border-top-right,
  &.drag-border-bottom-right {
    right: 0;
  }
  &.drag-border-bottom-left,
  &.drag-border-bottom-right {
    bottom: 0;
  }
  &.drag-border-top-left,
  &.drag-border-bottom-right {
    cursor: nw-resize;
  }
  &.drag-border-bottom-left,
  &.drag-border-top-right {
    cursor: ne-resize;
  }

  // 为调试方便而上色
  // 上边框，从上方拖动[高度]
  &.drag-border-top {
    background-color:#efdfed;
  }
  // 下边框，从上方拖动[高度]
  &.drag-border-bottom {
    background-color:#ceb455;
  }
  // 左边框，从左方拖动[宽度]
  &.drag-border-left {
    background-color:#cdef75;
  }
  // 右边框，从右方拖动[宽度]
  &.drag-border-right {
    background-color:#a7bbef;
  }
  // 左上角，从左上方同时拖动宽高
  &.drag-border-top-left {
    background-color:#a7bbef;
  }
  // 右上角，从右上方同时拖动宽高
  &.drag-border-top-right {
    background-color:#d866ef;
  }

  // 左下角，从左下方同时拖动宽高
  &.drag-border-bottom-left {
    background-color:#89ef5a;
  }
  // 右下角，从右下方同时拖动宽高
  &.drag-border-bottom-right {
    background-color:#ef7f44;
  }
}
