@CHARSET "UTF-8";
/**
 * @doc 按钮样式
 * @author Heanes
 * @time 2015-11-30 23:43:39
 */
.btn{
    display:inline-block;
    -webkit-appearance:none;
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
}
.btn:active{
    background-image:none;
    outline:0;
    -webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-normal{
    color:#333;
    background-color:#fff;
    border-color:#ccc;
    outline:none;
}
.btn-normal:hover{
    color:#333;
    background-color:#e6e6e6;
    border-color:#adadad;
}
.btn-primary{
    color:#fff;
    background-color:#0059f7;
    border-color:#144ecc;
    outline:none;
}
.btn-primary:hover{
    color:#fff;
    background-color:#3756cc;
    border-color:#2846ae;
}
.btn-primary:active{
    color:#fff;
    background-color:#0535cc;
    border-color:#0825ae;
}
.btn-success{
    color:#fff;
    background-color:#5cb85c;
    border-color:#4cae4c;
    outline:none;
}
.btn-success:hover{
    color:#fff;
    background-color:#449d44;
    border-color:#398439;
}
.btn-success:active{
    color:#fff;
    background-color:#449d44;
    border-color:#398439;
}