@CHARSET "UTF-8";
/* S 脚部 S */
.footer{}
.footer-wrap{width:100%;}
.footer-content a:hover{text-decoration:underline;}
.footer-content.footer-top-border{border-top:14px solid #000;}
.footer-content .footer-top-wrap{background-color:#091626;border-bottom:1px solid #000;padding:20px 0;}
.footer-content .footer-website-logo{float:left;width:160px;padding:20px 0;text-align:center}
.footer-content .footer-website-logo .footer-website-home-link{display:block;}
.footer-content .footer-website-logo .footer-website-home-link img{max-width:150px;}
.footer-content .add-link{float:left;}
.footer-content .add-link .add-link-ul{font-size:0;}
.footer-content .add-link .add-link-ul>li{display:inline-block;width:160px;padding:12px 0;border-right:1px solid #1b2838;border-left:1px solid #000;}
.footer-content .add-link .add-link-ul>li:first-child{border-left:0}
.footer-content .add-link .add-link-ul>li:last-child{border-right:0}
.footer-content .add-link .add-link-ul>li.start{border-left:0}
.footer-content .add-link .add-link-ul>li.end{border-right:0;}
.footer-content .add-link-ul>li:hover{background-color:#0c1d2f}
.footer-content .add-link .add-link-ul li{font-size:14px;}
.footer-content .add-link .add-link-ul li h3.link-category{font-size:14px;height:26px;padding-left:10px}
.footer-content .add-link .add-link-ul .link-list-ul li{padding-left:10px;height:30px;line-height:30px;overflow:hidden;}
.footer-content .add-link .add-link-ul .link-list-ul a{color:#787878;}
.footer-content .add-link-ul .link-list-ul a:hover{color:#e7e7e8;}
.footer-content .contact-info{float:left;padding-top:14px;}
.footer-content .contact-info .contact-title{font-size:13px;height:26px;padding-left:10px;}
.footer-content .contact-info .contact-detail{color:#787878;padding:6px;}
.footer-content .social-connect-ul li{display:inline-block;}
.footer-content .contact-info .contact-detail i.contact-image{display:inline-block;background-image:url("../image/footer/footer_sprite.png");cursor:pointer;}
.footer-content .contact-info .contact-detail .contact-text.hot-line-connect{display:inline-block;height:52px;line-height:52px;vertical-align:top;}
.footer-content .contact-info .contact-detail p{line-height:40px;}
.footer-content .contact-info .contact-detail i.contact-image.hot-line-connect{width:52px;height:52px;background-position:0 0;}
.footer-content .contact-info .contact-detail i.contact-image.social-connect{width:45px;height:36px;}
.footer-content .contact-info .contact-detail i.contact-image.social-connect.weibo{background-position:0 -52px}
.footer-content .contact-info .contact-detail i.contact-image.social-connect.weibo:hover{background-position:0 -88px}
.footer-content .contact-info .contact-detail i.contact-image.social-connect.wechat{background-position:-45px -52px}
.footer-content .contact-info .contact-detail i.contact-image.social-connect.wechat:hover{background-position:-45px -88px}
.footer-content .contact-info .contact-detail i.contact-image.social-connect.qq{background-position:-90px -52px}
.footer-content .contact-info .contact-detail i.contact-image.social-connect.qq:hover{background-position:-90px -88px}
.footer-content .contact-info .contact-detail a.social-connect-a{position:relative;display:block;}
.footer-content .contact-info .contact-detail a.social-connect-a .social-connect-img{display:none;position:absolute;left:-100px;bottom:50px;}
.footer-content .contact-info .contact-detail a.social-connect-a:hover{width:100%;}
.footer-content .contact-info .contact-detail a.social-connect-a:hover .social-connect-img{display:block;}
.footer-content .contact-info .contact-detail .social-connect-img{max-width:250px;}
.footer-content .footer-bottom-wrap{background-color:#070B12;border-top:1px solid #1b2838;padding:14px 0;}
.footer-content .friend-link-block{margin:10px auto;}
.footer-content .friend-link-block a{color:#555;margin:4px 20px;}
/* 认证可信信息 */
.footer-content .website-trust{height:58px;margin:0 auto;text-align:center;}
.footer-content .website-trust-ul li{display:inline-block;}
.footer-content .website-trust-ul li .trust{display:inline-block;width:130px;height:57px;background-image:url("../image/footer/footer_sprite.png");cursor:pointer;}
.footer-content .website-trust .website-trust-ul .trust1{background-position:1px -124px;}
.footer-content .website-trust .website-trust-ul .trust1:hover{background-position:1px -181px;}
.footer-content .website-trust .website-trust-ul .trust2{background-position:444px -124px;}
.footer-content .website-trust .website-trust-ul .trust2:hover{background-position:444px -181px;}
.footer-content .website-trust .website-trust-ul .trust3{background-position:315px -124px;}
.footer-content .website-trust .website-trust-ul .trust3:hover{background-position:315px -181px;}
.footer-content .website-trust .website-trust-ul .trust4{background-position:184px -124px;}
.footer-content .website-trust .website-trust-ul .trust4:hover{background-position:184px -181px;}
.footer-content .copyright{color:#333;font-size:13px;padding:6px 0;}
.footer-content .copyright p{text-align:center;line-height:20px;}
.footer-content .copyright a{color:#555;}
.footer-content .copyright a:hover{color:#e7e7e8;}
.footer-content a:hover{text-decoration:underline;}
/* E 脚部 E */