@CHARSET "UTF-8";
/* S 脚部 S */
.footer{}
.footer-wrap{width:100%;}
.footer-content{background:#686b6c;}

.footer-content .footer-website-logo{float:left;width:160px;padding:20px 0;text-align:center}
.footer-content .footer-website-logo .footer-website-home-link{display:block;}
.footer-content .footer-website-logo .footer-website-home-link img{max-width:150px;}
.footer-content .add-link{float:left;}
.footer-content .add-link-ul{}
.footer-content .add-link-ul>li{display:inline-block;width:160px;padding:20px 0}
.footer-content .add-link-ul li:hover{background-color:#565656}
.footer-content .add-link-ul li h3.link-category{font-size:14px;height:26px;color:#8c8c8c;padding-left:10px}
.footer-content .add-link-ul .link-list-ul li{padding-left:10px;height:30px;line-height:30px;overflow:hidden;}
.footer-content .add-link-ul .link-list-ul a{color:#b5b5b5;}
.footer-content .add-link-ul .link-list-ul a:hover{color:#e7e7e8;}

.footer-content .copyright{height:50px;background-color:#5a5d5e;color:#909090;font-size:13px;padding:6px 0;}
.footer-content .copyright p{text-align:center;line-height:20px;}
.footer-content .copyright a{color:#b3b3b3;}
.footer-content .copyright a:hover{color:#e7e7e8;}
.footer-content.footer-top-border{border-top:14px solid #000;}
.footer-content a:hover{text-decoration:underline;}
/* E 脚部 E */