@CHARSET "UTF-8";
/**
 * @doc 标题样式
 * @author Heanes
 * @time 2015-11-30 23:54:44
 */
.h1{
    padding:6px 10px;
    color: #438aac;
    background-color:#f1f7fd;
    border:1px solid #d2e8fa;
    font-size:17px;
    font-weight: normal;
}
.h2{
    padding:6px 10px;
    color: #438aac;
    background-color:#f1f7fd;
    border:1px solid #d2e8fa;
    font-size:16px;
    font-weight: normal;
}