/**
 * @doc 框架样式
 * @author Heanes
 * @time 2016-11-29 10:16:42 周二
 */
.layout .header{position:fixed;z-index:3;width:100%;height:50px;background-color:#00a2ca}
.layout .left-block{position:fixed;height:100%;z-index:2;background-color:#86b4bf;padding-top:50px}
.layout .center-block{position:absolute;width:100%;height:100%;padding-left:240px;padding-top:50px;padding-right:0;}
.layout .right-iframe{background-color:#ecf0f5;}
.left-width{width:240px;}