@CHARSET "UTF-8";
/**
 * @doc 框架样式
 * @author Heanes
 * @time 2016-11-29 10:16:42 周二
 */
/************************ 框架布局 ************************/
.layout .header{position:fixed;z-index:3;width:100%;height:50px;background-color:#00a2ca}
.layout .left-width{width:220px;}
.layout .left-block{position:fixed;height:100%;z-index:2;background-color:#86b4bf;padding-top:50px}
.layout .center-block{position:absolute;width:100%;height:100%;padding-left:220px;padding-top:50px;padding-right:0;}
.layout .right-iframe{background-color:#ecf0f5;}

/* 框架样式风格 */
.layout a{color:#fff;}

/************************ 顶部 ************************/
.header{color:#fff;}
.header .admin-logo{position:relative;float:left;height:100%;background-color:#367fa9;}
.header .admin-logo .lap-handle{position:absolute;right:10px;top:16px;color:#fff;font-size:14px;font-weight:600;}
.header .admin-logo .admin-log-href{display:block;height:100%;line-height:50px;text-align:center;margin-right:30px}
.header .admin-logo .admin-log-href .admin-icon,
.header .admin-logo .admin-log-href .admin-title-text{display:inline-block;vertical-align:middle;color:#fff;height:100%}
.header .admin-logo .admin-log-href .admin-icon{font-size:34px;line-height:inherit;}
.header .admin-logo .admin-log-href .admin-title-text{font-size:22px;}

.header .menu-top{float:left;height:50px;line-height:50px}
.header .menu-top .menu-list li{float:left;width:auto;color:#fff}
.header .menu-top .menu-list li.active,
.header .menu-top .menu-list li:hover{background-color:#2b91af}
.header .menu-top .menu-list li a{display:block;color:#fff;padding:0 30px;font-size:14px}

.header .admin-select-city{float:right;height:50px;line-height:50px;margin:0 10px;}
.header .admin-user-info .select-city{}
.header .admin-user-info .select-city option{padding:0;}
.header .admin-user-info{float:right;height:50px;line-height:50px;margin:0 10px;}
.header .admin-user-info .toggle-show-info-block{position:absolute;right:0;font-size:13px;background-color:#00a2ca;padding-top:6px;display:none;max-height:400px}
.header .admin-user-info.toggle-show:hover .toggle-show-info-block{display:block}
.header .admin-user-info .user-detail{padding:0 10px;}
.header .admin-user-info .user-detail dl{display:block;line-height:30px;}
.header .admin-user-info .user-detail dt,.user-detail dd{display:inline-block;}
.header .admin-user-info .user-detail dt{color:#fff;text-align:right;min-width:60px;}
.header .admin-user-info .user-detail dd{color:#fff;}
.header .admin-user-info .login-handle{text-align:center;}
.header .admin-user-info .login-handle .login-out:hover{text-decoration:underline;}
/************************ 左侧菜单 ************************/
.left-block .left-lap{}
.left-block .left-lap .lap-handle{color:#fff;background-color:#759ea9;display:block;height:30px;line-height:30px;text-align:center;}

.menu-left-block{}
.menu-left-family{display:none}
.menu-left-family.active{display:block}
.menu-left-group{}
.menu-left-group.close{display:none}
.menu-left-group li{color:#fff;overflow:hidden;}
.menu-left-group li .menu-parent .triangle-right{display:inline-block;width:0;height:0;border-top:5px solid transparent;border-left:6px solid #fff;border-bottom:5px solid transparent;vertical-align:middle;margin-bottom:3px;margin-right:12px}
.menu-left-group li .menu-parent .triangle-down{display:inline-block;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:6px solid #fff;vertical-align:middle;margin-bottom:3px;margin-right:8px}
.menu-left-group li .menu-parent,
.menu-left-group li a{display:block;padding:0 8px;height:40px;line-height:40px;color:inherit;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.menu-left-group li a .menu-text{vertical-align:middle;display:inline-block}
.menu-left-group li a .menu-icon{vertical-align:middle;font-size:14px;margin-right:6px;line-height:inherit;text-align:center;}
.menu-left-group li > ul.menu-left-group{padding-left:22px}
.menu-left-group li .menu-parent:hover,
.menu-left-group li .menu-parent.active,
.menu-left-group li.active > a,
.menu-left-group li:hover > a:not(.menu-parent){background-color:#6ba6b7}
.menu-left-group .menu-link.active{background-color:#3c7794;}

.menu-left-block.lapped .menu-left-family.active .menu-left-group{background-color:#86b4bf}
.menu-left-block.lapped .menu-left-group{position:absolute;}
.menu-left-block.lapped .menu-left-group > li.active,
.menu-left-block.lapped .menu-left-group > li.active li{width:auto;}
.menu-left-block.lapped .menu-left-group > li{width:30px !important;}
.menu-left-block.lapped .menu-left-group li.active{overflow:visible;position:absolute;background-color:transparent;}
.menu-left-block.lapped .menu-left-group li.active + li{margin-top:40px;}
.menu-left-block.lapped .menu-left-group li.active .menu-parent.active > .menu-text{padding-left:8px;}
.menu-left-block.lapped .menu-left-group li a .menu-icon{width:16px;}
.menu-left-block.lapped .menu-left-group li.active > ul.menu-left-group{position:relative;left:0;padding-left:0;margin-left:30px;}
.menu-left-family.lapped .menu-left-group li .menu-parent .triangle-right{display:none;}
.menu-left-family.lapped .menu-left-group li .menu-parent .menu-text{display:none;}

.menu-left-block .menu-left-group > li:hover{width:auto;}


/* 修复 */
.menu-left-family:first-child{display:block;}
/************************ 右侧样式 ************************/
.iframe-container{overflow:hidden;}
.tabs-container{width:100%;height:100%;border-left:none;border-right:0;}
.tabs-container .tab-title-container{padding:0 10px !important;box-sizing:content-box;}
.tabs-container .tab-content{height:100%;}

/************************ 底部样式 ************************/

/************************ 消息样式 ************************/
.message-global{z-index:100;position:fixed;text-align:center;width:100%;}
.message-global .message{position:relative;padding:10px 40px 10px 20px;display:inline-block;border: 1px solid;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.message-global .message-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6;}
.message-global .message-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}
.message-global .message-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}
.message-global .message-error{color:#a94442;background-color:#f2dede;border-color:#ebccd1}
.message-global .message .btn-close{position:absolute;right:2px;top:2px;font-size:17px;font-weight:300;height:24px;width:24px;line-height:24px;text-align:center;vertical-align:middle;font-family:arial,sans-serif;cursor:pointer;border-radius:50%}
.message-global .message .btn-close:hover{background-color:#d9534f;color:#fff}